<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>short</title>
</head>
<style>
  form
  {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin:auto ;
    padding-top: 20px;
    
  }

</style>
<body>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="full_url" id="full_url" placeholder="Enter URL">
    <input type="submit" value="Shorten">
    <hr>
    <p>
     full url by user = {{full_url}}
    </p>
    <p>
     newly generated short url = {{short_url}}
    </p>
  </form>
  
</body>
</html>